<nav class="nav">
    <div class="navbar-links">
    <%= link_to "Home", root_path, class: "navbar-link" %>
    <%= link_to "Listings", listings_path, class: "navbar-link" %>
    <%= link_to "Add new listing", new_listing_path, class: "navbar-link" %>
    <%= link_to "Breeds", breeds_path, class: "navbar-link" %>
    <%=  link_to 'Add a New breed', new_breeds_path, class: "navbar-link" %>
    <%= link_to "Login", root_path, class: "navbar-link" %>
    
    </div>
  </nav>